.statusButtonInactive {
    height:40px;
    width:86px; 
    border-radius: 100px;
    border:none; 
    background-color: #E4E6E7;
    color: #081E34;
}

.statusButtonActive {
    height:40px;
    width:86px; 
    border-radius: 100px;
    border:none; 
    background: rgba(8, 30, 52, 0.42);
    color: #FFFFFF;
}

input[type='checkbox'] {
    accent-color: #712FFF !important;
}



.crossedOutTextAndGrayColors {
    text-decoration-line: line-through;
    background: #E4E6E7;
    color: #959595;
}

